.container {
  position: relative;
  max-width: $container+px;
  padding: 0 gutter(2);
  margin: auto;

  &--small {
    max-width: gutter(120);
    padding: 0 gutter(2);
    margin: auto;
  }

  &--medium {
    max-width: 1400px;
    padding: 0 gutter(2);
    margin: auto;
  }

  &-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  &__icon1 {
    position: absolute;
    color: $primary;
    font-size: 150px;
    top: 200px;
    margin-left: - gutter(25);
    animation: icon1 20s linear infinite;
  }

  &__icon2 {
    position: absolute;
    color: $secondary;
    font-size: 150px;
    top: 100px;
    right: 0;
    margin-right: - gutter(20);
    animation: icon2 10s linear infinite;
  }

  &__icon3 {
    position: absolute;
    color: $secondary3;
    font-size: 250px;
    top: 280px;
    right: 0;
    margin-right: - gutter(25);
    animation: icon3 10s linear infinite;
  }
}
