.footer {
  background-color: $bg;
  color: $black;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: gutter(2);
    padding-bottom: gutter(2);

    @include media("<md") {
      flex-direction: column;
    }
  }

  &__copyright {
    font-size: 13px;
    font-weight: $semi-bold;
  }

  &__logo {
    width: gutter(8);
    height: auto;

    @include media("<md") {
      width: gutter(8);
      margin: gutter(0.8) 0 gutter(1.5);
      order: -1;
    }
  }
}
