.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: gutter(2.5);
  margin: gutter(2) auto;
  max-width: gutter(100);
  color: $black;

  @include media("<md") {
    grid-template-columns: repeat(2, 1fr);
    gap: gutter(1);
  }

  &__item {
    padding: gutter(8) gutter(5);
    background-color: $bg;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black;
    transition: $transition;

    @include media("<md") {
      padding: gutter(2.5);
      min-height: gutter(25);

      br {
        display: none;
      }
    }

    &:hover {
      background-color: $black;
      color: $white;
      text-decoration: none;
      transform: translateY(4px);
    }

    &--color1 {
      background-color: $secondary;
      color: $white;
    }

    &--color2 {
      background-color: $secondary2;
      color: $white;
    }

    &--color3 {
      background-color: $primary;
      color: $white;
    }
  }
}
